* {

    margin: 0;

    padding: 0;

    box-sizing: border-box;

}

.full-page {

    height: 100vh;

    width: 100%;

    background: rgb(160, 32, 145);

    position: absolute;

}

.sub-page {

    width: 1266px;

    height: 559px;

    position: absolute;

    background: url(bg1.jpg);

    background-size: cover;

    background-position: center;

    left: 50px;

    top: 50px;

}

.navigation-bar {

    display: flex;

    align-items: center;

    padding: 20px;

    padding-left: 80px;

    padding-right: 30px;

    padding-top: 30px;

}

.logo {

    position: fixed;

    margin-top: 10px;

}

.logo a {

    text-decoration: none;

    color: white;

    font-size: 30px;

}

nav {

    flex: 1;

    position: fixed;

    right: 0;

}

nav ul {

    display: inline-block;

    list-style: none;

}

nav ul li {

    display: inline-block;

    margin-right: 90px;

    margin-top: 17px;

}

nav ul li a {

    text-decoration: none;

    font-size: 20px;

    color: rgb(245, 240, 240);

    font-family: sans-serif;

}

nav ul li a:hover {

    color: rgb(164, 228, 16);

}

.row {

    display: flex;

    align-items: center;

    flex-wrap: wrap;

    justify-content: space-around;

}

.col-1 {

    flex-basis: 50%;

    min-width: 300px;

}

.form-box {

    width: 300px;

    height: 400px;

    position: relative;

    top: 50px;

    left: 120px;

    background: rgba(0, 0, 0, 0.6);

}

.main-heading {

    color: rgb(237, 241, 234);

    padding-bottom: 20px;

}

.form {

    position: relative;

    margin: 0 auto 100px;

    padding: 45px;

    text-align: center;

}

.form input {

    font-family: sans-serif;

    outline: none;

    border: none;

    border-bottom: 1px solid black;

    width: 100%;

    margin: 0 0 15px;

    padding: 15px;

    font-size: 14px;

}

.form button {

    font-family: sans-serif;

    width: 100%;

    color: white;

    font-size: 14px;

    cursor: pointer;

    padding: 15px;

    border: none;

    background: rgb(40, 206, 184);

}

.form .message {

    font-size: 12px;

    margin: 15px 0 0;

    color: rgb(247, 242, 242);

}

.form .message a {

    color: rgb(183, 241, 8);

    text-decoration: none;

}

.form .register-form {

    display: none;

}

.defination {

    text-align: left;

    font-size: 30px;

    color: rgb(169, 45, 45);

    font-family: 'Kaushan Script', cursive;

    padding-left: 60px;

}